export AWS_PROFILE=lwbco
export DEVELOP_BACKEND_PORT=8088
export CI_PROJECT_TITLE=tritium
export CI_PROJECT_PATH=netp/txgun/tritium
export CI_REGISTRY_IMAGE=registry.netprophet.tech/$CI_PROJECT_PATH

[[ -e .local_env ]] && source .local_env
if [ ! -e env ] && [ ! -e .local_env ] ;
then
  echo "Looks like you're new here! Running bin/setup.dev..."
  bash bin/setup.dev
fi

source env/bin/activate
