Django==3.2.24
django-extensions
bpython
pytest
django-rest-framework
django-storages
django-auditlog
boto
boto3
django-environ
django-ses
django-s3-storage==0.12.4
gql
psycopg2-binary
web3>=4.9.2
coincurve
eth-keys
pandoc
ethereum
django-filter
django-rest-registration
django-jet
django-cors-headers
djangorestframework_simplejwt
redis
django-redis
celery
celery[redis]
django-celery-results
Werkzeug
whitenoise
uwsgi
